<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/star-rating.css">
<!-- Recipe details -->
<div class="row">
    <div class="col-6">
        <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% recipe.images.forEach((img, i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img src="<%=img.url%>" class="d-block w-100" alt="...">
                    </div>
                <% }) %>
            </div>
            <% if(recipe.images.length > 1) { %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            <% } %>
          </div>
        <div class="card bg-dark">
          
            <div class="card-body bg-man3 mt-3">
                <h3 class="card-title"><%= recipe.title %></h3>
            
                <p class="card-text bg-man5 mb-5"><%= recipe.description %></p>
                <div class="d-flex justify-content-between">
                    <p class="card-text "><strong>Preparation Time:</strong> <span class="bg-man4"><%= recipe.preptime %> minutes</span></p>
                    <p class="card-text me-3"><strong>Servings:</strong> <span class="bg-man4"><%= recipe.servings %></span></p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-man3 mt-3"><strong>Ingredients:</strong> 
                    <ul class="instructions-list list-inline">
                        <% recipe.ingredients.split(',').forEach(function(ingredient) { %>
                            <li class="instruction-item list-inline-item"><%= ingredient %></li>
                        <% }) %>
                    </ul>
                </li>
                <li class="list-group-item bg-man3 mt-3"><strong>Description:</strong>
                    <ul class="instructions-list">
                        <% recipe.instructions.split('\n').forEach(function(instruction) { %>
                            <li class="instruction-item"><%= instruction %></li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
            <!-- Buttons -->
             <% if(currentUser && recipe.creator._id.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a class="card-link btn btn-warning me-3 text-white text-decoration-none" href="/recipes/<%= recipe._id %>/edit">Edit</a>
                    <form class="d-inline" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
        <footer class="card-footer text-muted">Created by: <%=recipe.creator.username%></footer>
        
    </div>
     <!-- Reviews -->
    <div class="col-6">
        <% if(currentUser) { %>
            <h5>Please leave a review and rate the recipe.</h5>
            <form action="/recipes/<%=recipe._id%>/reviews" method="POST" class="mb-4 validate-form" novalidate>
                <!-- <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" name="" id="rating">
                </div> -->
                    <fieldset class="starability-basic">
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" required />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                <div class="mb-3">
                    <label for="body" class="form-label">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="10" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid review.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        <% } else { %>
            <h5 class="bg-man5 mb-5">Please log in to leave a review.</h5>
        <% } %>
        <h3>Reviews</h3>
        <div class="reviews bg-man5">
            <% recipe.reviews.forEach(function(review) { %>
                <div class="card mb-3">
                    <div class="card-body bg-dark">
                        <div class="card-title starability-result" data-rating="<%=review.rating%>">Rated:<%=  review.rating %> stars </div>
                        <h6 class="card-subtitle mb-2 text-muted">By <%=review.creator.username%>  </h6>
                        <p class="card-text"><%= review.body %></p>
                        <% if(currentUser && review.creator._id.equals(currentUser._id)) { %> 
                            <a href="/recipes/<%= recipe._id %>/reviews/<%= review._id %>/edit" class="card-link btn btn-sm btn-warning text-white">Edit</a>
                            <form class="d-inline" action="/recipes/<%= recipe._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
       
    </div>

</div>
