<% layout('layouts/boilerplate') %>
<!-- Recipe details -->
<div class="row">
    <div class="col-6">
        
        <div class="card bg-dark text-white">
            <img src="<%= recipe.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= recipe.title %></h5>
                <p class="card-text text-muted"><%= recipe.description %></p>
                <div class="d-flex ">
                    <p class="card-text"><strong>Preparation Time:</strong> <%= recipe.preptime %> minutes</p>
                    <p class="card-text ms-5"><strong>Servings:</strong> <%= recipe.servings %></p>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Ingredients:</strong> <%= recipe.ingredients %></li>
                <li class="list-group-item"><strong>Instructions:</strong> <%= recipe.instructions %></li>
            </ul>
            <!-- Buttons -->
             <% if(currentUser && recipe.creator._id.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a class="card-link btn btn-warning me-3 text-white text-decoration-none" href="/recipes/<%= recipe._id %>/edit">Edit</a>
                    <form class="d-inline" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
        
    </div>
     <!-- Reviews -->
    <div class="col-6">
        <% if(currentUser) { %>
            <h2>Please leave a review and rate the recipe.</h2>
            <form action="/recipes/<%=recipe._id%>/reviews" method="POST" class="mb-4 validate-form" novalidate>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="10" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid review.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        <% } else { %>
            <h2>Please log in to leave a review.</h2>
        <% } %>
        <h2>Reviews</h2>
        <div class="reviews">
            <% recipe.reviews.forEach(function(review) { %>
                <div class="card mb-3">
                    <div class="card-body bg-dark">
                        <h5 class="card-title"><%=review.rating%> stars</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <%=review.creator.username%>  </h6>
                        <p class="card-text"><%= review.body %></p>
                        <% if(currentUser && review.creator._id.equals(currentUser._id)) { %> 
                            <a href="/recipes/<%= recipe._id %>/reviews/<%= review._id %>/edit" class="card-link btn btn-sm btn-warning text-white">Edit</a>
                            <form class="d-inline" action="/recipes/<%= recipe._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
       
    </div>

</div>
