<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit recipe</h1>
    <div class="col-6 offset-3">
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="recipe[title]" class="form-control" required value="<%= recipe.title %>">
            <div class="invalid-feedback">
                Please provide a valid title.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>

        </div>
        <div class="mb-3">
            <label for="preptime" class="form-label">Preparation Time:</label>
            <input type="number" id="preptime" name="recipe[preptime]" class="form-control" required value="<%= recipe.preptime %>">
            <div class="invalid-feedback">
                Please provide a valid number.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" id="description" name="recipe[description]" class="form-control" required value="<%= recipe.description %>">
            <div class="invalid-feedback">
                Please provide a valid description.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients:</label>
            <input type="text" id="ingredients" name="recipe[ingredients]" class="form-control" required value="<%= recipe.ingredients %>">
            <div class="invalid-feedback">
                Please provide valid ingredients.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="servings" class="form-label">Servings:</label>
            <input type="number" id="servings" name="recipe[servings]" class="form-control" required value="<%= recipe.servings %>">
            <div class="invalid-feedback">
                Please provide a valid number.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="instructions" class="form-label">Instructions:</label>
            <textarea type="text" id="instructions" name="recipe[instructions]" class="form-control" required> <%= recipe.instructions %></textarea>
            <div class="invalid-feedback">
                Please provide valid instructions.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Upload images:</label>
            <input type="file"  name="image" id="image">
            
        </div>
        <button type="submit" class="btn btn-info text-">Update Recipe </button>
    </form>
    </div>
</div>