<% layout('layouts/boilerplate') %>
    <h1>All Recipes</h1>
    <ul>
        <% recipes.forEach(recipe => { %>
            <div class="card" mb-3>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%= recipe.image %>" alt="<%= recipe.title %>" >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/recipes/<%=recipe._id %>"><%= recipe.title %></a></h5>
                            <p class="card-text"><strong>Preparation Time:</strong> <%= recipe.preptime %> minutes</p>
                            <p class="card-text"><strong>Description:</strong> <%= recipe.description %></p>
                            <p class="card-text"><strong>Ingredients:</strong> <%= recipe.ingredients %></p>
                            <p class="card-text"><strong>Servings:</strong> <%= recipe.servings %></p>
                            <p class="card-text"><strong>Instructions:</strong> <%= recipe.instructions %></p>
                            <button><a href="/recipes/<%= recipe._id %>/edit">Edit</a></button>
                            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

             
        <% }) %>
    </ul>