<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/all-recipes-page.css">
<div class="container"></div>
    <h1>All Recipes</h1>
    <div >
        <% recipes.forEach(recipe => { %>
            <a href="/recipes/<%= recipe._id %>" style="text-decoration: none;">
                <div class="card bg-dark mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <% if (recipe.images && recipe.images.length > 0) { %>
                                <img class="img-fluid" src="<%= recipe.images[0].url %>" alt="<%= recipe.title %>">
                            <% } else { %>
                                <img class="img-fluid" src="/pics/default-image.jpg" alt="Default Image">
                            <% } %>
                        </div>
                        <div class="col-md-8 bg-man7 d-flex flex-column">
                            <div class="card-body ">
                                <h5 class="card-title"><a class="bg-man3" href="/recipes/<%=recipe._id %>"><%= recipe.title %></a></h5>
                                <p class="card-text"><strong>Preparation Time:</strong> <%= recipe.preptime %> minutes</p>
                                <p class="card-text"><strong>Description:</strong> <%= recipe.description %></p>
                                <p class="card-text"><strong>Ingredients:</strong> <%= recipe.ingredients %></p>
                                
                            </div>
                            <p class="card-text mt-auto text-end mb-3 me-3">
                            <em> <strong>Recipe Creator:</strong> <%= recipe.creator.username %></em>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>
</div>