<% layout('layouts/boilerplate') %>
    <h1>Recipe Details Page for <%= recipe.title %> </h1>
    <img src="<%= recipe.image %>" alt="<%= recipe.title %>" style="width: 300px; height: 300px;">
    <p><strong>Preparation Time:</strong> <%= recipe.preptime %> minutes</p>
    <p><strong>Description:</strong> <%= recipe.description %></p>
    <p><strong>Ingredients:</strong> <%= recipe.ingredients %></p>
    <p><strong>Servings:</strong> <%= recipe.servings %></p>
    <p><strong>Instructions:</strong> <%= recipe.instructions %></p>
    <button><a href="/recipes/<%= recipe._id %>/edit">Edit</a></button>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    
